@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
.display-time{
    padding: 30px;
    margin-left: 5rem;
    font-family: 'Bakbak One', cursive;
    background-color: #EAEAEA;
    width: 1147px;
    border: 1px solid;
    padding: 50px;
    margin-top: 10px;
    
    
}
